{% template title_bar %}
<div>
  <div style="position: absolute; bottom: 0; width: 100%">
    <div class="title_bar">
      <img class="image" src="https://cdn.jsdelivr.net/gh/selfhst/icons/svg/proxmox-dark.svg">
      <span class="title">Proxmox Backups</span>
      <span class="instance">Recent Backups</span>
    </div> 
  </div>
</div>
{% endtemplate %}